body{
    font-size:0px; /*   消除div之间的间隙  */
    margin: 0;   /*   消除body默认边距  */
	padding: 0;
	border: 0;
    border: black 2px;
    text-decoration:none;
    font-family: "华文行楷";
}  
.forzen{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    height: 50px;
    font-size: 44px;
    font-family: "华文行楷";
    padding-top: 20px;
    margin: 0px;
}
.header{
    height: 41px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.li-style{
    cursor: pointer;  
    margin: 0;
    float: left;
    position: relative;
    vertical-align: bottom;
    text-decoration: none;
}
header ul{
    list-style: none;
}
.item-name{
    font-size: 16px;
    height: 41px;
    color:black;
    line-height: 41px;
    padding: 0 25px;
    font-weight: bold;
    font-family: "Microsoft YaHei";
}
.li-style:hover{
    background-color:#d3d4d4;
}
a{
    text-decoration:none;
}  
.backgroud{
    background: url(../images/透明背景.png) repeat-y 0 0;
}
h3{
    font-size: 10px;
    color: slategrey;
    text-align: center;
    font-family: "Microsoft YaHei";
}
.copyright{
    text-align: center;
    width: 100%;
}


/* 表单的样式 */
.question-wrapper {
    width: 100%;
    margin: 0 auto 10px auto;
    padding: 1px;
    background-color: #FFFFFF;
    border-color:#954b4b;
}


td.answer {
    padding: 0px 24px 0px 37px;
    text-align: center;
}
/* 按钮的样式 */
.submit{
    background-color: #EEF6FF;
    display: inline-block;
    position: relative;
    padding: 0;
    margin-right: .1em;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    zoom: 1;
    overflow: visible;
    border: 1px solid #954b4b;
    /* font-weight: bold; */
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 1.1em;
    color: black;
    border-bottom-right-radius: 6px;
    line-height: 120%;
    border-radius: 6px;
}
td.butto{
    /* background-color: #EEF6FF; */
    text-align: center;
}

button{
    height:30px;
    width: 55px;
    text-align: center;
}

/* 表格的样式 */
table{
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    /* border:solid #fff; */
    border-width:1px 0px 0px 1px; 
    font-size: 16px;
    color: black;
    width: 80%;
    text-align: center;
    margin: 160px auto; /*可以让表格居中*/
}
td {
    border: solid #fff;
    border-width: 0px 1px 1px 0px;
    padding: 2px 10px;
    height: 55px;
    width:25%;
    line-height: 2.0;
    font-size: 20px;
    color: #555;
}